
/******************************************
	Desktop
*******************************************/

@media (max-width: 1120px) {
	.container {
		width: 90%;
	}
}



/******************************************
	Tablet
*******************************************/

@media (max-width: 992px) {
	.container {
		width: 90%;
	}
    section.header {
        height: 120px;
    }
    section.header .setting {
        display: none;
    }
	section.header .bar {
		position: relative;
		display: block;
		margin-right: 1rem;
	}
	section.header .bar i {
		position: absolute;
		transform: translate(-50%, -50%);
		font-size: 26px;
		cursor: pointer;
		color: var(--dark);
	}
	section.header .bar i:nth-child(2) {
		display: none;
	}
	.header-left .header-menu {
		width: 280px;
		background: var(--dropdown);
		position: absolute;
		left: 0;
		top: 100%;
		display: block;
		transform: translateX(-100%);
		border-bottom-right-radius: 10px;
		box-shadow: 0 7px 11px 0 var(--shadow);
		overflow: hidden;
	}
	.header-menu .theme {
		display: flex;
	}
	.header-left .header-menu ul {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 1rem 0.5rem;
	}
	section.header .header-left .header-menu li {
		width: 100%;
		padding: 1rem 1rem;
		border-radius: 5px;
		margin: 0;
	}
	.header-left .header-menu li:hover {
		background: var(--pure);
	}
	.header-left .header-menu li::after {
		display: none;
	}
	section.header .header-menu .social {
		display: flex;
		padding: 1rem 2rem;
		margin: 1rem 0rem;
	}
	section.header .header-menu .social i {
		font-size: 26px;
	}

	section.content .introduce {
		margin-top: 5rem;
	}
	.content {
		height: 620px;
	}
	.content-wrapper {
		display: block;
	}
    .content .content-img {
        height: 100%;
    }
	.content .content-wrapper img {
        width: 605px;
        position: absolute;
        top: -60%;
        z-index: -10;
        right: 0px;
        opacity: 0.4;
    }
	.about-me {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 70% 95%, 0% 100%);
		padding-bottom: 8rem;
	}
	.about-wrapper {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
	}
	.about-me .left img {
		width: 50%;
	}
	section.about-me .right {
		padding: 0;
		justify-self: center;
		margin-top: 2rem;
		margin-left: 2rem;
	}
	section.contact .right .input-wrapper {
		grid-template-columns: 1fr;
	}
    .services-top p {
        max-width: 70vw;
    }
    .services ul {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem 8vw;
    }

}



/******************************************
	Landscap Mobile
*******************************************/

@media (max-width: 768px) {
	section.header .bar {
		position: relative;
		display: block;
		margin-right: 1rem;
	}
	section.header .bar i {
		position: absolute;
		transform: translate(-50%, -50%);
		font-size: 26px;
		cursor: pointer;
	}
	section.header .bar i:nth-child(2) {
		display: none;
	}
	section.header {
		position: relative;
	}
	section.content .introduce {
		margin-top: 5rem;
	}
	.content {
		height: 620px;
	}
	.content-wrapper {
		display: block;
	}
	.content .content-wrapper img {
		width: 420px;
		position: absolute;
		top: -115px;
		z-index: -10;
		right: 0;
	}
	section.about-me .right {
		padding: 0;
	}
	section.contact .contact-wrapper {
		grid-template-columns: 1fr;
		grid-row-gap: 5rem;
	}
	section.contact .left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	section.contact .left > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 3rem;
	}
	section.contact .left i {
		margin-right: 0;
	}
	section.contact .left > div .info {
		text-align: center;
	}
	section.contact .left h3 {
		margin: 1rem 0;
	}
	section.contact .right .input-wrapper {
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}

}



/******************************************
	Mobile
*******************************************/

@media (max-width: 580px) {

	.introduce h1 {
		font-size: 2.5rem;
	}

	.content .content-wrapper img {
		width: 350px;
		top: -75px;
		opacity: 0.5;
	}

	.about-me {
		clip-path: none;
		padding: 3rem 0;
	}
	.about-me h1 {
		padding: 0;
		margin: 0 0 3rem 0;
	}
	.about-wrapper {
		grid-template-columns: 1fr;
	}
	.about-me .left img {
		width: 50%;
		margin-left: -25px;
	}
	section.about-me .right {
		margin-top: 1rem;
		justify-self: center;
	}
	section.about-me .right .social {
		text-align: center;
	}
	.services ul {
		grid-template-columns: 1fr;
		grid-gap: 4rem 8vw;
	}
	section.education .wrapper {
		grid-template-columns: 1fr;
	}
	section.education .left {
		order: 1;
		margin-top: 3rem;
	}
	section.contact .right .input-wrapper {
		grid-template-columns: 1fr;
	}
	section.contact .right .input-wrapper div label {
		font-size: 14px;
	}
}




