


/******************************************
	Header Area
*******************************************/
section.header {
	background: var(--primary);
	width: 100%;
	height: 140px;
	box-shadow: 0 8px 10px 0 var(--shadow);
	position: fixed;
	z-index: 500;
	padding: 0;
}
section.header .header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

section.header .header-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
section.header .header-left .logo img {
	width: 250px;
}
section.header .header-left h1 {
	font-family: montserrat;
	letter-spacing: -1px;
	color: #464637;
}
.header-menu .theme {
	display: none;
}
section.header .header-left .header-menu ul {
	display: flex;
	justify-content: space-between;
}
section.header .header-left .header-menu li {
	color: var(--nav);
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-weight: 600;
	font-family: montserrat;
	margin: 0 1.3rem;
	position: relative;
	text-transform: uppercase;
}
section.header .header-left .header-menu li:hover {
	color: var(--dark);
}
section.header .header-left .header-menu ul li::after {
	content: "";
	background: linear-gradient(to right, var(--headerText), var(--copyright));
	width: 0%;
	height: 3px;
	left: 0;
	position: absolute;
	top: 160%;
	transition: 0.3s;
}
section.header .header-left  .header-menu li:hover::after {
	width: 100%;
}
section.header .header-left .header-menu ul i {
	display: none;
}
section.header .header-menu .social {
	display: none;
}
section.header .setting {
	position: relative;
}
section.header .setting > i {
	font-size: 24px;
	cursor: pointer;
	color: var(--dark);
}
section.header .setting.show > i {
	transform: rotate(90deg);
}

section.header .dropdown {
	width: 200px;
	border-radius: 10px;
	background: var(--dropdown);
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 80px;
	box-shadow: 0 7px 11px 0 var(--shadow);
	visibility: hidden;
	opacity: 0;
}
section.header .setting.show .dropdown {
	opacity: 1;
	top: 40px;
	visibility: visible;
	background: var(--dropdown);
}
.theme {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 1rem;
	background: var(--background);
	box-shadow: 0px 7px 12px 0 var(--shadow);
}
.theme img {
	height: 40px;
	object-fit: cover;
	width: 40px;
	border-radius: 50%;
}

.theme-switch .switch {
	width: 40px;
	height: 20px;
	display: grid;
	background: var(--pure);
	border-radius: 50px;
	position: relative;
	cursor: pointer;
	box-shadow: inset 0px -1px 5px 0px var(--shadow);
}
.theme-switch .switch input {
	position: absolute;
	opacity: 0;
	z-index: -10;
}
.theme-switch .switch input:checked ~ div {
	transform: translate3d(100%, 0px, 0px);
}
.theme-switch .switch div {
	width: 20px;
	height: 100%;
	background: var(--headerText);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.theme-switch .switch div i {
	font-size: 14px;
	position: absolute;
}
.theme-switch .switch div i:first-child {
	opacity: 0;
}
.theme-switch .switch div i:last-child {
	color: var(--pure);
	opacity: 1;
}
.dropdown ul {
	padding: 1rem 0.5rem;
}
.dropdown ul li {
	padding: 0.8rem 0.7rem;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.dropdown ul li:hover {
	background: var(--pure);
}
.dropdown ul li i {
	font-size: 16px;
	color: var(--headerText);
	margin-right: 12px;
}
.dropdown ul li a {
	color: var(--para);
	font-size: 13px;
	text-transform: uppercase;
}

section.header .social {
	border-top: 1px solid var(--border);
	display: flex;
	justify-content: space-evenly;
	padding-top: 0.7rem;
	margin: 1rem 1rem 0 1rem;
}
section.header .social a {
	margin: 0;
}
section.header .social i {
	font-size: 18px;
	margin: 0 3px;
}
body.checked .dropdown .theme-switch .switch div i:first-child {
	opacity: 1;
}
body.checked .dropdown .theme-switch .switch div i:last-child {
	opacity: 0;
}
section.header .bar {
	display: none;
}


.header.scrolled {
	height: 90px;
}
.header.scrolled .header-left .logo img {
	width: 180px;
}
.header.scrolled .header-left .header-menu li {
	font-size: 13px;
}






/******************************************
	Content Area
*******************************************/

.content {
	position: relative;
	padding-top: 0;
}
.content-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding-top: 6rem;
}
section.content .introduce {
	width: 100%;
}
.introduce h2 {
	font-family: montserrat;
	font-weight: 300;
	letter-spacing: 2px;
	color: var(--dark);
	font-size: 18px;
}
.introduce h1 {
	font-family: montserrat;
	font-size: 50px;
	word-spacing: 3px;
	text-shadow: 10px 10px 10px #00000038;	
	color: #03ADFF;
}
.introduce h4 {
	font-size: 22px;
	font-family: montserrat;
	color: gray;
	text-shadow: 10px 10px 10px #00000038;
	font-weight: 500;
}

.content .btn-1 {
	margin-top: 70px;
}


.content .content-img {
	position: relative;
	width: 67%;
}
/* .content .content-img::after {
	content: "";
	position: absolute;
	width: 320px;
	height: 13px;
	background: #00000024;
	bottom: -50px;
	left: 41%;
	box-shadow: -89px -100px 40px 10px black;
	border-radius: 50%;
} */
.content .content-wrapper img {
	/* width: 440px;
	position: absolute;
	right: 20px;
	bottom: 55px; */
	z-index: 10;
}




/******************************************
	Services Area
*******************************************/

section.Services {
	font-family: montserrat;
}
section.services .services-top {
	margin-bottom: 6rem;
}
.services-top h1 {
	text-align: center;
	margin: 15px 0px;
}
.services-top p {
	text-align: center;
	max-width: 50%;
	margin: 2rem auto;
	line-height: 25px;
	color: var(--para);
	font-size: 15px;
}
.services ul {
	display: grid;
	width: 100%;
	margin: 50px 0px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem 2rem;
}
.services ul li {
	position: relative;
	border-radius: 10px;
	padding-bottom: 1rem;
	text-align: center;
	min-height: 160px;
	background: var(--dropdown);
	box-shadow: 0 7px 10px var(--shadow);
}
.services ul li .icon {
	width: 75px;
	height: 75px;
	font-size: 25px;
	background: var(--dropdown);
	color: var(--headerText);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
.services ul li .icon::before {
	content: "";
	position: absolute;
	width: 33px;
	height: 12px;
	background: var(--background);
	border-bottom-right-radius: 15px;
	right: 98%;
	top: 25px;
	box-shadow: 20px 4px 0 -1px var(--dropdown);
	z-index: -50;
}
.services ul li .icon::after {
	content: "";
	position: absolute;
	width: 33px;
	height: 12px;
	background: var(--background);
	border-bottom-left-radius: 15px;
	left: 98%;
	top: 25px;
	box-shadow: -14px 5px 0 -1px var(--dropdown);
	z-index: -50;
}
.services ul li h3 {
	margin-top: 3rem;
	font-size: 22px;
	color: var(--darkBlue);
}
.services ul li p {
	font-size: 13px;
	padding: 1.5rem 2rem;
	color: var(--copyright);
}





/******************************************
	About-Me Area
*******************************************/

.about-me {
	background: var(--background2);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 85%, 0% 100%);
}
.about-me h1 {
	margin-bottom: 5rem;
}
.about-top {
	text-align: center;
	width: 100%;
}
.about-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
section.about-me .left {
	display: flex;
	justify-content: center;
}
.about-me .left img {
	width: 75%;
	margin-left: 2rem;
	filter: drop-shadow(45px 8px 4px rgba(0, 0, 0, 0.24));
	transform: scaleX(-1);
}
section.about-me .right {
	align-self: baseline;
	padding-top: 2rem;
}
section.about-me .right > div {
	margin-bottom: 3rem;
}
.about-me .right p {
	line-height: 1.5;
	margin: 15px 0;
	font-family: montserrat;
}
section.about-me .right p strong {
	width: 175px;
	position: relative;
	font-weight: 600;
}
section.about-me .right p strong::after {
	content: ":";
	position: absolute;
	right: 20px;
}
.about-me .right p strong {
	position: relative;
	width: 150px;
	display: inline-block;
}



/******************************************
	Social Area
*******************************************/


.social {
	font-size: 0em;
}
.social a {
	margin-right: 1rem;
}
.social a:nth-child(1){
	color: #3E599E;
}
.social a:nth-child(2){
	color: #049ed1;
}
.social a:nth-child(3){
	color: #39393B;
}
.social a:nth-child(4){
	color: #0E81BA;
}
.social a i {
	font-size: 26px;
}





/******************************************
	Education Area
*******************************************/

section.education {
	font-family: montserrat;
	margin-bottom: 5rem;
}
section.education .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-top: 5rem;
}
section.education .left {
	position: relative;
}
section.education .left::before {
	content: "";
	height: 100%;
	position: absolute;
	left: 12px;
	border-left: 2px dotted #999;
	z-index: -10;
}
section.education .timeline-header {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
section.education .left .timeline {
	margin-left: 2rem;
}
section.education .left .timeline > div {
	margin-bottom: 2rem;
	line-height: 1.7;
	position: relative;
}
section.education .left .timeline > div:nth-child(3) {
	margin-bottom: 1rem;
}
section.education .left .timeline > div::before {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid var(--headerText);
	left: -25px;
	background: var(--pure);
	top: 5px;
}
section.education .left .timeline > div h4 {
	font-size: 14px;
	font-weight: 500;
	color: var(--dark);
}
section.education .left .timeline > div h5 {
	font-weight: 300;
	font-size: 12px;
	color: var(--para);
}
section.education .left .timeline > div p {
	font-size: 13px;
}
section.education .timeline-header i {
	color: var(--headerText);
	font-size: 24px;
	margin-right: 0.6rem;
}
section.education .timeline-header h3 {
	font-weight: 400;
	color: var(--dark);
}
section.education .right .skill > div {
	margin-bottom: 2rem;
}
section.education .right .skill > div h5 {
	font-weight: 500;
	margin-left: 5px;
	color: var(--dark);
}
section.education .right .skill > div div {
	width: 100%;
	height: 10px;
	border-radius: 50px;
	border: 1px solid var(--secondary);
	padding: 1px;
	margin-top: 5px;
}
section.education .right .skill > div div span {
	height: 100%;
	width: 50%;
	display: block;
	background: var(--headerText);
	border-radius: 50px;
	position: relative;
}
section.education .right .skill > div div span p {
	position: absolute;
	right: -7px;
	bottom: 10px;
	font-size: 11px;
}






/******************************************
	Contact Area
*******************************************/

section.contact {
	background: var(--background2);
	font-family: montserrat;
	padding-bottom: 5rem;
}
section.contact h1 {
	text-align: center;
	margin-bottom: 5rem;
}
section.contact .contact-wrapper {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	align-items: center;
	grid-gap: 1rem;
}
section.contact .left > div {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}
section.contact .left > div:nth-child(3) {
	margin-bottom: 0rem;
}
section.contact .left i {
	font-size: 2rem;
	margin-right: 1rem;
	color: var(--headerText);
	width: 32px;
}
section.contact .left h3 {
	font-weight: 500;
	font-size: 1rem;
	margin-bottom: 5px;
	color: var(--dark);
}
section.contact .left p {
	font-size: 13px;
}


section.contact .right .input-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	margin-bottom: 2rem;
}
section.contact .right .input-wrapper div {
	display: flex;
	flex-direction: column;
}
section.contact .right label {
	font-size: 14px;
}
section.contact .right .input-wrapper div label {
	margin-bottom: 1rem;
	color: var(--dark);
}
section.contact .right .input-wrapper div input {
	height: 40px;
	padding: 5px 1rem;
	outline: none;
	border: none;
	background: var(--dropdown);
	color: var(--dark);
	border-radius: 5px;
}
section.contact .right .text-area {
	display: flex;
	flex-direction: column;
}
section.contact .right .text-area label {
	margin-bottom: 1rem;
	color: var(--dark);
}
section.contact .right .text-area textarea {
	height: 180px;
	outline: none;
	padding: 1rem;
	border: none;
	background: var(--dropdown);
	color: var(--dark);
	border-radius: 5px;
	resize: none;
}
section.contact .btn-2 {
	text-align: center;
	margin-top: 2rem;
}





/******************************************
	Footer Area
*******************************************/

footer {
	background: var(--primary);
	width: 100%;
	text-align: center;
	font-weight: 500;
}
footer .wrapper {
	display: flex;
	justify-content: space-between;
	padding: 3rem 0;
}
footer .logo img {
	width: 220px;
}
footer .social h3 {
	font-size: 16px;
	font-family: montserrat;
	text-align: left;
	margin-bottom: 1rem;
	color: var(--para);
}
footer .copyright {
	border-top: 1px solid var(--border);
}
footer .copyright p {
	text-align: center;
	color: var(--nav);
	padding: 10px 0;
}


