@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500&display=swap');

:root {
	--primary:#00a8ff;
	--secondary: #31fbf8;
	--pure: #fff;
	--dark: black;
	--background: #ebebeb;
	--para: #605555;
	--darkBlue:#070128;
}





* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.container {
	width: 1100px;
	margin: 0 auto;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--para);
	line-height: 1.5;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}



.btn-primary {
	padding: 15px 30px; margin-top: 10px;
	font-size: 15px;
	font-family: montserrat;
	font-weight: 500;
	background: linear-gradient(to right,var(--secondary),var(--primary));
	border: none;
	color: var(--pure);
	border-radius: 3px;
	box-shadow: 10px 10px 10px 0 #0000002b;
	cursor: pointer;
	transition: 0.3s;
}
.btn-primary span {
	visibility: none;
	opacity: 0;
	width: 0px;
	display: inline-block;
	transition: 0.3s;
	position: relative;
}
.btn-primary span::after {
	content: "»";
	position: absolute;
	font-size: 20px;
	bottom: -5px;
	font-weight: 600;
	color: var(--pure);
}
.btn-primary:hover span {
	visibility: visible;
	opacity: 1;
	width: 15px;
}
 

.flex-center {
	display:flex;
	justify-content:center;
	align-items:center;
}
.flex-justify {
	display:flex;
	justify-content:center;
}
.flex-items {
	display:flex;
	align-items:center;
}
.clear {
	clear:both;
}

.header-text {
	font-size: 32px;
	text-align: center;
	font-family: montserrat;
	color: var(--primary);
	margin: 3rem 0;
	text-transform: uppercase;
}
.header-text span {
	position: relative;
}
.header-text span::after {
	content: "";
	width: 50%;
	height: 4px;
	background: var(--secondary);
	position: absolute;
	display: inline-block;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}








